html, body {
    background: #5C258D;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    height: 100%;
    width: 100%;
  }
  
  #citation {
    font-size: 2em;
    font-family: 'Satisfy', curve;
    line-height: 1.3em;
    letter-spacing: 1px;
  }
  
  #citation:before {
      content: open-quote;
  }
  
  #citation:after {
      content: close-quote;
  }
  
  #auteur {
    font-size: 1.5em;
    font-style: italic;
  }
  
  #nouveau {
    background: #ff9966;
    background-image: linear-gradient(to right top, #cf24eb, #4b8aff, #00bdff, #00e1ff, #00fcff);
    cursor: pointer;
  }
 